.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 1px solid #444;
    z-index: 1000;
}

.icons {
    width: 70px;
    height: 60px;
    object-fit: contain;
    transition: none;
}

.nav-item {
    display: flex;
    margin-top: -1px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f6f9f4;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.nav-item:active .icons {
    animation: click 0.6s ease-in-out forwards;
    transition: none;
}
.nav-item.active .icons {
    transform: scale(1);
}