.header {
    width: 100%;
    margin: 0px;
}

.container {
    padding: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    /*margin-left: 15px;*/
    width: 300px;
    height: auto;

}