.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.content {
    flex: 1;
    position: relative;
    padding: 20px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.text-container {
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin-top: 40px;
}

.main-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: left;
    margin-top: -40px;
    margin-left: 3px;
    color: #f6f9f4;
}

.highlight {
    color: #8db580;
}

.description {
    font-size: 16px;
    text-align: justify;
    color: #b0b0b0;
    margin-bottom: 30px;
}


.call-button {
    background-color: #8db580;
    color: #2c2c2c;
    margin-top: 10px;
    margin-right: 70px;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(141, 181, 128, 0.4);
    transition: transform 0.2s, background-color 0.2s;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 10;
}
.call-button:active {
    transform: scale(0.95);
}
.food {
    position: fixed;
    bottom: 100px;
    left: 60px;
    width: 40%;
    max-width: 200px;
    z-index: 1;
    opacity: 0.9;
}
.dog-bg {
    position: fixed;
    bottom: 100px;
    right: -80px;
    width: 60%;
    max-width: 400px;
    z-index: 1;
    opacity: 0.9;
    pointer-events: none;
}